@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');         

*{
    
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none; 
    color: #000000;
   
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
}
.container{
    /* Removed Important here */
    max-width: 1280px;    
    width: 100%;
}

/*------------------------------------- *********** Section 1 ********** ------------------------------*/
.navbar-light .navbar-nav .nav-link{
    color: white !important;
}
.navbar{
    border-radius: 12px;    
}

/* Base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Header styles */
header {
    /* background-color: #000; */
    color: #fff;
    padding: 1rem;
}



                                /*----------------------- navbar ---------------------------------*/
/* .navbar {
    background-color: #000;
    padding: 10px 0;
} */
.header-bg{
    background-color: black;
}
p{
    color: #fff !important;
}
.header-bg a{
    color: #fff !important;
}
/* .navbar .container {
    display: flex;
    justify-content: center; 
    align-items: center;
} */

/* .navbar-logo {
    margin-right: auto; 
    margin-left: 20px;
} */
.nav_btn{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: white;
}
/* .navbar-logo img {
    height: 40px;
} */

/* .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0; 
    padding: 0; 
} */

/* .navbar-menu li {
    display: inline-block;
    margin: 0;
    padding: 0; 
} */
/* .navbar-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px; 
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;

} */

.navbar-menu a:hover {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
}



/* ---------------------- Main content styles----------------------------- */


.hero {
    color: #fff;
    padding: 2rem;
    border-radius: 8px;
}

.hero h1 {
    font-size: 2rem;
}

.video-player {
    position: relative;
    width: 100%;
    max-width: 880px;
}
.video-player video {
    max-width: 100%;
    border-radius: 24px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
}
.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.gallery-container img {
    width: 120px;
    height: 67px;
    object-fit: cover;
    border-radius: 4px;
}

/* -------------------------- Footer styles -------------------------------*/
footer {
    background-color: black;
    color: #858994;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p {
    color: #858994;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center !important;

}

.slider{

    border-radius: 10px;
    padding: 10px;
    padding-right: 0;
    margin-right: -10px;
}
.video-gallery{
        margin-top: 0px;
        
}
.footer-slider{
    margin-top:0px;
}
.footer-slider-wrapper{
    position: absolute;
    bottom: 100px !important;
    left: 0px;
}
/* Responsive design */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin-top: 1rem;
    }

    nav ul li {
        margin-left: 0;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .play-button {
        width: 40px;
        height: 40px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    main {
        padding: 1rem;
    }

    .hero {
        padding: 1rem;
    }

    .gallery-container img {
        width: 100px;
        height: 56px;
    }
}
.gallery-container {
    position: relative;
    max-width: 100%;
}

.slider-wrapper {
    overflow: visible;
    height: 110px;
    padding: 7px;
    border-radius: 10px; 
    overflow: hidden; 
}

.slider {
    display: flex;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.slider img {
    flex: 0 0 auto;
    width: 120px;
    height: 67px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 1rem;
}

.slider-button {
    /* background-color: rgba(0, 0, 0, 0.5);
    color: #fff; */
    background-color: #fff ;
    color: #fff !important;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 9999999 !important;
    margin: 0px -50px;
}


main{
    background-image: url(https://s3.amazonaws.com/trumptv/testvideo/home_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.slider-wrapper{
    margin: 0 auto;
}
.her__con{
    max-width: 590px;
}

.video-gallery {
    opacity: 0;
}
.video-gallery.visible {
    opacity: 1;

}

.video-player video {
    width: 100%;
    height: auto;
    border-radius: 24px;
}
.hero-content{
    display: flex;
    gap: 60px;
    justify-content: center;
}
.her__con{
    padding-top: 25px;
    padding-left: 10px;
    color: white;
}
.her__con h1{
    font-family: Prompt;
    font-size: 36px;
    font-weight: 700;
    line-height: 44.64px;
    text-align: left;
    color: #FFFFFF;
}
.her__con p{
    font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #FFFFFF;
}


@media screen and (max-width: 1200px){
    .video-gallery.visible {
        opacity: 1;
        transform: translateY(55px);
    }
}
@media screen and (max-width: 992px){
    .hero-content{
        flex-wrap: wrap;
    }
    .her__con{
        max-width: 590px !important;
    }
    .fl_wrap{
        flex-wrap: wrap;
    }
    .navbar-logo{
        margin-left: unset;
    }
}
@media screen and (max-width: 550px){
    .hero-content{
        gap: 25px;
    }
    footer p{
        font-size: 12px;
        line-height: 16px;
    }
    footer{
        padding-left: 25px;
        background: #000;
    }

}

.slider-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 12px;
    height: 200px;
    
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative; 
}
.wrapper_main{
    background: linear-gradient(0deg, #94469E, #10143C);
    border: 1px solid #4D2B67;
    border-radius: 12px;
    z-index: 2;
    margin: 0 auto;
    
}
.slider img {
    flex: 0 0 auto;
    width: 120px;
    margin-right: 1.2rem !important;
    object-fit: cover;
    border-radius: 4px;
    z-index: 999;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: #f4f4f4 solid 1px;
    opacity: 0.8;
}
.slider img:hover {
    opacity: 1;
    border: #f4f4f4 solid 2px;
    transform: scale(1.04) translateY(-20px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 999;
    transition: linear all .2s;
}

.slider img {
    flex: 0 0 auto;
    width: 120px;
    height: 67px;
    object-fit: cover;
    border-radius: 4px;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.slider-button.prev {
    left: 12%;
    border-radius: 50%;
    background-image: url(https://s3.amazonaws.com/trumptv/testvideo/left_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
}

.slider-button.next {
    right: 12%;
    border-radius: 50%;
    background-image: url(https://s3.amazonaws.com/trumptv/testvideo/right_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
}




/* Add new Code For Video Animation */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.video-gallery {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.video-gallery.visible {
    opacity: 1;
    transform: translateY(0);
}

#videoPlayer {
    position: relative;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#videoPlayer.shrink {
    transform: scaleY(0.6) scaleX(0.5) translateY(-20%) translateX(-30%);
    opacity: 1;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.play-button.visible {
    display: block;
}

.slider img {
    transition: transform 0.5s ease, margin-top 0.6s ease;
}

.slider img:hover {
    transform: scale(1.2) translateY(-10px);
    margin-top: -10px;
}

/* assets/css/style.css */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.her__con {
    animation: fadeIn 1s ease-out;
}

@media screen and (max-width: 1024px){
    .her__con{
        max-width: 400px;
    }
    .her__con h1 {
        font-size: 24px;
        line-height: 30px;
    }
    .her__con p{
        font-size: 14px;
    }
    .navbar-logo img{
        width: 110px;
    }
    .nav_btn{
        font-size: 14px;
    }
}
